.App {
  text-align: center;
}

.HeaderBox {
  text-align: center;
  color: white;
  background-color: orange;
  border-radius: 10px;
  max-width: 500px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.TextIn {
  
}
