.App {
  text-align: center;
}

.Container {
  width: calc(100% - 4em);
  max-width: 500px;
  margin: auto;
}

.HeaderBox {
  text-align: center;
  font-size: 24px;
  color: white;
  background-color: orange;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.TextInput {
  padding: 10px;
  font-size: 18px;
  width: calc(100% - 20px);
}

.SubmitButton {
  font-size: 36px;
}

.ShowText {
  text-align: center;
}
